.MuiTypography-h1{
    font-size: 3.6rem !important;
    color: #212529;
    text-shadow: -1px -1px 0 rgb(185, 185, 185), 1px -1px 0 rgb(195, 195, 195), -1px 1px 0 rgb(168, 168, 168), 1px 1px 0 rgb(211, 211, 211);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.greenText{
    text-shadow: -1px -1px 0 rgb(185, 185, 185), 1px -1px 0 rgb(195, 195, 195), -1px 1px 0 rgb(168, 168, 168), 1px 1px 0 rgb(211, 211, 211);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
    background-color:rgba(246, 246, 246, 0.87)
}

.shadowed{
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

.dev-icons {
    font-size: 2.1rem;
    line-height: 0.5rem !important;
  }

  .list-inline-item{
      padding-right: 5px;
  }

.bigD{
    color: #AF2C50;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.bigM{
    color: #5BC2E7;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0);
}

.boldIrish{
    color: #169B62;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
}

ul{
    margin: 1.2rem 0.3rem 0 0.3rem !important;
}